.layout {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	&__content {
		display: flex;
		justify-content: center;
		flex-direction: column;
		flex: 1;
		width: 100%;
		max-width: 1296px;
		padding: 0 10px;
		margin: 0 auto;
	}
}
