@use '../../../styles/variables.scss' as *;

.allEvents {
	padding: 120px 0;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 40px;
	}

	&__heading {
		font-family: $ff-secondary;
		font-weight: $fw-bold;
		font-size: $fz-3xl;
		margin-bottom: 60px;

		@media (max-width: 600px) {
			font-size: $fz-2xl;
		}
	}

	&__button {
		padding: 20px 37px;
		border: 2px solid $bg-color-secondary-button;
		border-radius: 16px;

		font-family: $ff-secondary;
		font-size: $fz-m;
		font-weight: $fw-bold;
	}

	&__cardsList {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		column-gap: 14px;
		row-gap: 20px;
	}

	&__buttonCard {
		width: 100%;
		height: 60px;
		border-radius: 16px;
		background-color: $bg-color-secondary-button;
		color: $text-color-secondary;

		font-family: $ff-secondary;
		font-weight: $fw-bold;
		font-size: $fz-m;
	}
}
