@use '../../../styles/variables.scss' as *;

.map {
	padding: 60px 0;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__heading {
		font-family: $ff-secondary;
		font-weight: $fw-bold;
		font-size: $fz-3xl;
		margin-bottom: 40px;
	}

	&__paragraph {
		font-size: $fz-m;
		margin-bottom: 60px;
	}
}
