@use '../../styles/variables.scss' as *;

.loader {
	display: flex;
	justify-self: center;
	align-self: center;
	width: 48px;
	height: 48px;
	border: 1px solid $bg-color-main-button;
	border-bottom: none;
	border-right: none;
	border-radius: 50%;

	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
