@use '../../../styles/variables.scss' as *;

.help {
	padding: 60px 0;

	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 30px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 380px;
		padding: 24px 16px;
		background-color: $bg-color-gray;
		border-radius: 20px;
		cursor: pointer;
		transition: all 300ms ease;

		@media (max-width: 400px) {
			min-width: 100%;
		}

		&:hover {
			transform: scale(1.1);
			box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
		}
	}

	&__img {
		width: 48px;
		height: 48px;
		margin-bottom: 24px;
	}

	&__heading {
		margin-bottom: 12px;
		font-family: $ff-secondary;
		font-weight: $fw-bold;
		font-size: $fz-l;
	}

	&__paragraph {
		font-size: $fz-m;
		opacity: 60%;
	}
}
