// Fonts

$ff-main: 'Inter', sans-serif;
$ff-secondary: 'Teachers', sans-serif;

$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

$fz-xs: 1.2rem;
$fz-s: 1.4rem;
$fz-m: 1.6rem;
$fz-l: 2.4rem;
$fz-xl: 2.8rem;
$fz-2xl: 4rem;
$fz-3xl: 5rem;
$fz-4xl: 10rem;

// Colors

$bg-color-page: white;
$bg-color-header-footer: black;
$bg-color-main-button: #fd7e14;
$bg-color-secondary-button: black;
$bg-color-third-button: white;

$text-color-main: black;
$text-color-secondary: white;
