@use '../../../styles/variables.scss' as *;

.contactForm {
	padding-bottom: 120px;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	&__wrapper {
		max-width: 418px;
		min-height: 634px;
		padding: 40px;
		background-color: $bg-color-header-footer;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}

	&__heading {
		font-family: $ff-secondary;
		font-weight: $fw-bold;
		font-size: $fz-2xl;
		color: $text-color-secondary;
		margin-bottom: 24px;
	}

	&__description {
		font-size: $fz-m;
		color: $text-color-secondary;
		line-height: 27px;
		opacity: 60%;
		margin-bottom: 40px;
	}

	&__contacts {
		display: block;
		margin-bottom: 24px;
		font-family: $ff-secondary;
		font-weight: $fw-medium;
		font-size: $fz-xm;
		color: $text-color-secondary;
	}

	&__contactsIcon {
		display: flex;
		align-items: center;
		gap: 12px;

		&::before {
			display: block;
			content: '';
			width: 24px;
			height: 24px;
		}
	}

	&__contactsIconTel {
		background-image: url('../../../assets/icons/phone.png');
		background-repeat: no-repeat;
	}

	&__contactsIconMail {
		background-image: url('../../../assets/icons/mail.png');
		background-repeat: no-repeat;
	}

	&__contactsIconTime {
		background-image: url('../../../assets/icons/clock.png');
		background-repeat: no-repeat;
	}

	&__button {
		padding: 10px 40px;
		background-color: $bg-color-main-button;
		border-radius: 16px;
		text-transform: uppercase;
		font-weight: $fw-bold;
		color: $text-color-secondary;
		font-size: $fz-m;
	}
}
