@use '../../styles/variables.scss' as *;

.accordion {
	width: 100%;
	max-width: 840px;

	&__item {
		padding: 40px;
		border-bottom: 1px solid #ced4da;
	}

	&__itemOpen {
		padding: 40px;
		background-color: $bg-color-gray;
		border-bottom: none;
		border-radius: 20px;
	}

	&__button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
		width: 100%;
		min-height: 40px;
		text-align: start;
		font-family: $ff-secondary;
		font-weight: $fw-semi-bold;
		font-size: $fz-l;
	}

	&__buttonOpen {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
		width: 100%;
		min-height: 83px;
		text-align: start;
		font-family: $ff-secondary;
		font-weight: $fw-semi-bold;
		font-size: $fz-l;
	}

	.accordion__toggleClose {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 40px;
		height: 40px;
		border: 1px solid $bg-color-header-footer;
		border-radius: 50%;

		&::after {
			content: url('../../assets/icons/toggleClose.png');
		}
	}

	.accordion__toggleOpen {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: $bg-color-main-button;

		&::after {
			content: url('../../assets/icons/toggleOpen.png');
		}
	}

	&__Content {
		display: none;
	}

	&__ContentOpen {
		max-width: 90%;
		display: block;
		font-size: $fz-m;
		opacity: 60%;
	}
}
