@use '../../../styles/variables.scss' as *;

.video {
	padding: 60px 0;

	&__heading {
		font-family: $ff-secondary;
		font-weight: $fw-bold;
		font-size: $fz-3xl;
		margin-bottom: 60px;

		@media (max-width: 600px) {
			font-size: $fz-2xl;
		}
	}

	&__content {
		width: 100%;
		max-height: 698px;
		object-fit: cover;
		border-radius: 20px;
	}
}
